*.a
*.bundle
*.DS_Store
*.gem
*.log
*.o
*.orig
*.pid
*.rbc
*.seed
*.so
*.sw[po]
.config
.DS_Store
.env
.grunt
.rbenv-gemsets
.repl_history
.rspec
.ruby-version
.rvmrc
.sass-cache
.vagrant
.yardoc
_site
_yardoc
build
coverage
db/*.sqlite3
doc
Gemfile.lock
log
logs
mkmf.log
pids
pkg
rdoc
tags
tmp
